:root {
  --yellow: #00337C;
  --orange: #1C6758;
  --black: #353535;
  --gray: #8B0000;
  --blueCard: #FFDD83;
  --purple: #98DFD6;
  --boxShadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  --orangeCard: #1C6758;
  --smboxShadow: -10px 10px 20px rgba(0, 0, 0, 0.08);
}

.App {
  /* padding: 0.5rem 3.5rem; */
  overflow: hidden;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #1C82AD 26.71%, #03C988 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(106, 164, 175, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}